
  .navbar-brand{
    font-size: 45px;
    color: blueviolet;
    letter-spacing: 3px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
  }

  

  .navbar{
    color: #fff;
    border-top: 2px solid rgb(82, 76, 76);

  }

  .nav-link{
    color: #fff;
  }

  .navbar :hover{
    color: rgb(121, 160, 235);
  }

  .nav-link:hover{
    color: rgb(121, 160, 235);
  }

  .navClients a, li{

    text-decoration: none;
    list-style: none;
    margin: 5px;
    position: relative;

  }