<footer>
    <div class="container">
        <div class="col-md-11 footerLogo text-center">
            <h2>Store</h2>
        </div>
        <div class="row">
            <div class="col-md-3 ">
                <div class="col-md-11 footerLogo ">
                    <h2>Store</h2>
                </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus ad quasi nemo voluptatibus, similique laudantium aliquam autem harum amet esse beatae voluptas ullam quia minima ipsa sapiente id maxime dolorum?</p>
            </div>
            <div class="col-md-2 ">
                <h3 class="text-center">Categorias</h3>
                <ul>
                    <li><a routerLink="">Game</a></li>
                    <li><a routerLink="">Informatica</a></li>
                    <li><a routerLink="">Livros</a></li>
                    <li><a routerLink="">Moveis</a></li>
                    <li><a routerLink="">Petshop</a></li>
                    <li><a routerLink="">Relogio</a></li>
                </ul>
            </div>
            <div class="col-md-3 text-center">
                <h3 class="text-center">Serviços</h3>
            <ul>
                <li><a routerLink="">Mangas</a></li>
                <li><a routerLink="">Revista</a></li>
                <li><a routerLink="">Cha de bebe</a></li>
                <li><a routerLink="">Cartão</a></li>
                <li><a routerLink="">Carne</a></li>
                <li><a routerLink="">Consorcio</a></li>
            </ul>
            </div>
            <div class="col-md-3 text-end">
                <h3 class="text-end">Medias</h3>
            <ul>
                <li><a routerLink="">WhatsApp</a></li>
                <li><a routerLink="">Instagram</a></li>
                <li><a routerLink="">Faceboock</a></li>
                <li><a routerLink="">Twitter</a></li>
                
            </ul>
            </div>

        <div>
        </div>
    </div>
</div>

</footer>
